

<!-- Header Section -->
<header>
  <h1>Clash Royale Card Catalog</h1>
  <div class="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/card-catalog">Card Catalog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favorites</a>
      </li>
    </ul>
  </div>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>




<!-- Footer Section -->
<footer class="footer mt-4">
  <div class="container">
    <span class="text-muted">Copyright © 2024 Clash Royale Card Catalog. All rights reserved.</span>
  </div>
</footer>
